body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex; /* correct */
  flex-direction: column; /* correct */
  
  
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px; /* correct */
  font-weight: 900; /* correct */
  display: flex; /* correct */
  align-items: center; /* correct */
  padding: 0 16px; /* correct */
}

.footer { /* correct */
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px; /* correct */
  flex-shrink: 0; /* should add this to prevent shrinking */
  flex-basis: 300px;
  
}

ul { /* correct */
  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a { /* correct */
 
  color: white;
  text-decoration: none;
  font-size: 24px;
}

li {
  margin-bottom: 16px; /* should add this */
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  /* min-width: 200px;
  max-width: 250px; */
  /* did not need the min and max width just use width for flex-wrap */
  width: 250px; /* used 250px instead of 300px because of screen difference*/
  padding: 16px  16px 100px ; 
 
}

.content {
  display: flex; /* correct */
  flex: 1; /* correct */
  
}

.card-section {
  display: flex; /* correct */
  flex-wrap: wrap; /* correct */
  padding: 32px; /* correct */
  gap: 16px; /* correct they used margin instead in the card section*/
}